*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(135deg,#4facfe,#00f2fe);
}

.weather-card{
    width:350px;
    padding:30px;

    background:white;

    border-radius:20px;

    text-align:center;

    box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

.weather-card h1{
    margin-bottom:20px;
}

input{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
    margin-bottom:15px;
}

button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:8px;
    background:#007bff;
    color:white;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    opacity:0.9;
}

.weather-info{
    margin-top:25px;
}

#temp{
    font-size:50px;
    margin:10px 0;
}

#condition{
    font-size:20px;
    color:#555;
}