*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    min-height:100vh;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#1d2671;
    padding:20px 40px;
}

.logo{
    color:white;
    font-size:28px;
    font-weight:bold;
}

.nav-links{
    display:flex;
    list-style:none;
}

.nav-links li{
    margin-left:25px;
}

.nav-links a{
    text-decoration:none;
    color:white;
    font-size:18px;
    transition:0.3s;
}

.nav-links a:hover{
    color:#ffb3d9;
}

.menu-btn{
    display:none;
    color:white;
    font-size:30px;
    cursor:pointer;
}

@media(max-width:768px){

    .menu-btn{
        display:block;
    }

    .nav-links{
        display:none;
        flex-direction:column;
        position:absolute;
        top:75px;
        right:20px;
        background:#1d2671;
        width:200px;
        padding:20px;
        border-radius:10px;
    }

    .nav-links.active{
        display:flex;
    }

    .nav-links li{
        margin:12px 0;
    }
}