*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#1d2671,#c33764);
}

.login-box{
    width:320px;
    padding:40px;
    background:rgba(255,255,255,0.1);
    border-radius:20px;
    backdrop-filter:blur(10px);
    box-shadow:0 8px 32px rgba(0,0,0,0.3);
    text-align:center;
    color:white;
}

.login-box h1{
    margin-bottom:10px;
}

.login-box p{
    margin-bottom:25px;
    color:#ddd;
}

.login-box input{
    width:100%;
    padding:14px;
    margin:10px 0;
    border:none;
    outline:none;
    border-radius:10px;
    background:rgba(255,255,255,0.2);
    color:white;
    font-size:16px;
}

.login-box input::placeholder{
    color:#eee;
}

.login-box button{
    width:100%;
    padding:14px;
    margin-top:15px;
    border:none;
    border-radius:10px;
    background:white;
    color:#c33764;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
}

.login-box button:hover{
    background:black;
    color:white;
}